<!-- <form action="/@ask" method="get">
  <input type="text" name="your_question" placeholder="I am going to work">
  <input type="submit">
</form> -->
<h1> Stupid Coaching</h1>
<form action="/answer">
  <input type="text" name="questions">
  <input type="submit" value="Ask!">
</form>



