// Place all the styles related to the QuestionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: rgb(90,205,187);
  text-decoration: none;
  color: rgb(237,239,240);

}

